<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093923203787-oah21och1jnnjhklvd4e9fsn5od176cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093923203787-oah21och1jnnjhklvd4e9fsn5od176cc</string>
	<key>API_KEY</key>
	<string>AIzaSyDLbC5FB1WdDk2VgZKIhAuI66basI9wSCo</string>
	<key>GCM_SENDER_ID</key>
	<string>1093923203787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msseock.LottoDraw</string>
	<key>PROJECT_ID</key>
	<string>lottodrawfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>lottodrawfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093923203787:ios:8c59a9a0330633612a094e</string>
</dict>
</plist>